{% extends "network/layout.html" %}
{% load static %}

{% block body %}
	
	<div id="post-option">
		<a id="create-post" class="nav-link" ><strong>New Post</strong></a>
	</div>
	<div id="post-form-container">
		<form id="post-form" method="post">
			{{ post_form.as_p }}
			<input type="submit" value="Submit" id="sub-btn" class="btn btn-primary"/>
		</form>
	</div>
	
	<div id="outer_div" class="container">
	{% for post in dpage_obj %} 
	
		<div class="blog-post" id="pagination-block">
			<div class="blog-post-title" id="sub">{{ post.subject }} </div>				
			<div class="blog-post-meta" id="stamp">
				Posted on: {{ post.timestamp }} by: 
				<a href="{% url 'profile_post' post.author %}"> {{ post.author }}</a>
			</div>
			
			{% if post.author.username == current_user %}
				<div id="edit-div">{{ post.id }}</div>
				<div>
					<a href="{% url 'editpost' post.id %}"> Edit Post</a>
				</div>
			{% endif %}
			
			<div class="well" id="bod"> {{ post.body }} </div>
		</div>	
	{% endfor %}
	
	<div class="pagination">
		{% if dpage_obj.has_previous %}
			<a href="?page=1">first</a>
			<a href="?page={{ dpage_obj.previous_page_number }}">previous</a>
		{% endif %}
		
		Page {{ dpage_obj.number }} of  {{ dpage_obj.paginator.num_pages }}.
		
		{% if dpage_obj.has_next %}
			<a href="?page={{ dpage_obj.next_page_number }}">next -> </a> 
			<a href="?page={{ dpage_obj.paginator.num_pages }}"> <-last</a>
		{% endif %}
		
	</div>
	</div>
	


{% endblock %}

{% block script %}
	 <script src="{% static 'network/index.js' %}"></script>
{% endblock %}