{% extends "network/layout.html" %}
{% load static %}

{% block body %}
	<div class="container" id="stats">
		<h2>Various user stats for {{ duser_name }}</h2>
		<h4> {{ duser_name }} has {{ dFollowerCount }} followers</h4>
		<h4> and is following {{ dFollowingCount }} users</h4>
		
		{% if show_follow_button %}
		
			<div id="follow-div">
				<form id="follow-form">
					<input type="hidden" id="profileowner" name="profileowner" value={{ duser_name }}>
					{% if show_unfollow_button %}
						<input type="submit" id="submitter" value="Unfollow" name="unfollow">
						
					{% else %}
						<input type="submit" id="submitter" value="Follow" name="follow">
						
					{% endif %}
				</form>
			
			</div>
			<div id="follow-message"></div>
		{% endif %}
	
	
		{% for post in dAllposts %}
		<div class="container-fluid bg-dark text-white border" id="all-posts">
			<div class="blog-post " id="post-block">
				<div class="blog-post-title" id="auth">{{ post.subject }} </div>
				
				<div class="blog-post-meta" id="auth">Posted on: {{ post.timestamp }} by: 
				<a href="{% url 'profile_post' post.author %}"> {{ post.author }}</a>
				</div>				
				
				<div class="well text-dark" id="auth"> {{ post.body }} </div>
			</div>
		</div>
		<br />
		{% endfor %}
		
		<div class="pagination">
			<span class="step-links">
				{% if dAllposts.has_previous %}
					<ul class="pagination">
						<li class="page-item"><a href="?page=1">&laquo; first</a></li>
						<li class="page-item"><a href="?page={{ dAllposts.previous_page_number }}">previous</a></li>
					</ul>
				{% endif %}
			
				<span class="current">
					Page {{ dAllposts.number }} of {{ dAllposts.paginator.num_pages }}.
				</span>

				{% if dAllposts.has_next %}
					<ul class="pagination">
						<li class="page-item"><a href="?page={{ dAllposts.next_page_number }}">next</a></li>
						<li class="page-item"><a href="?page={{ dAllposts.paginator.num_pages }}">last &raquo;</a></li>
					</ul>
				{% endif %}
			</span>
</div>
		
	</div>
	
{% endblock %}

{% block script %}
	 <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}