{% extends "network/layout.html" %}
{% load static %}

{% block body %}
	<div class="container" id="stats">
		<h2>Various user stats for {{ duser_name }}</h2>
		<h4> {{ duser_name }} has {{ dFollowerCount }} followers</h4>
		<h4> and is following {{ dFollowingCount }} users</h4>
		
		{% if show_follow_button %}
		
			<div id="follow-div">
				<form id="follow-form">
					<input type="hidden" id="profileowner" name="profileowner" value={{ duser_name }}>
					{% if show_unfollow_button %}
						<input type="submit" id="submitter" value="Unfollow" name="unfollow">
						unfollow
					{% else %}
						<input type="submit" id="submitter" value="Follow" name="follow">
						follow this fellow
					{% endif %}
				</form>
			
			
			<div id="follow-message">Follower added</div>
		{% endif %}
	</div>
	
		{% for post in dAllposts %}
		<div class="container-fluid bg-dark text-white border" id="all-posts">
			<div class="blog-post " id="post-block">
				<div class="blog-post-title" id="auth">{{ post.subject }} </div>
				
				<div class="blog-post-meta" id="auth">Posted on: {{ post.timestamp }} by: 
				<a href="{% url 'profile_post' post.author %}"> {{ post.author }}</a>
				</div>				
				
				<div class="well text-dark" id="auth"> {{ post.body }} </div>
			</div>
		</div>
		{% endfor %}
	
	
{% endblock %}

{% block script %}
	 <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}